*{
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}


.header {
    border-top: 1px solid #3983e5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu__list {
    display: flex;
}

.menu__list li {
    box-sizing: border-box;
    margin-left: 38px;
}

 
.menu__list a {
    font-size: 14px;
    color: #2f3f54;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}














